.body-container{
    overflow: auto;
    height: 500px;
}

/* finestra di dialogo annotazioni frammenti */
.ui-widget-content {
    border: 2px solid red;
    border: 2px solid #DDD;
}
#URLDoc{
  word-wrap: break-word;
}

.bodytot{
  width: 100%;
	margin-top: 5%;
}

form#search-form{
  float:right;
}

form#search-form ul{
	  position: absolute;
	  top: 0;
	  left: 0; 
	  width: 100%;
	  max-height: 100px;
	  overflow: auto;	  
	  z-index: 100000;	  
	  border:1px solid #DDDDDD;
	  border-radius: 6px;	  
}
 
span.ui-helper-hidden-accessible{
  display: none !important;
}
 
.ui-state-focus {
	 color: #ffffff;
	 background-color: #428bca;
}

.title{
	float: left;
	display: block;
}

.ricerca{
	margin-top: 1%;
	float:right;
}

.miaclasse{
  width: 50%;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.selectedText{
  background-color: red;
}

.nascondi{
  display: none;
}

.annotationFragment-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}
.annotationFragment-modal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.list-doc{
  height: 500px;
  overflow: auto;

}
.container-doc{
  height: 500px;
}
.info-doc{
  height:60%;
  margin-bottom: 1%;
  overflow: hidden;
}

.list-doc2{
  height:40%;

}

.bottonDIV{
  width:100%;
}
.bottonDIV >div >table{
  width:100%;
  text-align: center;
}
.bottonDIV> div> table>thead{
  font-weight:bold;
}
.saveCancelFragment{
  align-content: center;
}
.modal-document > ul{
  max-height: 100px;
  background-color:white ;
  position: absolute;
  overflow: auto;
}
.modal-modify-annotation > ul{
  max-height: 100px;
  background-color:white ;
  position: absolute;
  overflow: auto;
}

.input-group{
  width: 100%;
}
#hasAuthor{
  width: 50%;
  margin-left: 25%;
}

#spotlight{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2%;

}
/* css modal annotazioni temporanee */
.tempormodal{
  width: 50%;
}
#annotationTable{
  table-layout:fixed;
  width: 100%;
}
.titolo{
  width: 30%;
  overflow: hidden;
  white-space: nowrap;
}
.imgne{
  width: 3%;
  overflow: hidden;
  white-space: nowrap;
}
.type{
  width: 12%;
  overflow: hidden;
  white-space: nowrap;
}
.lable{
  width: 8%;
  overflow: hidden;
  white-space: nowrap;
}
.tipo{
  width: 15%;
  overflow: hidden;
  white-space: nowrap;
}
.valore{
  width: 17%;
  overflow: hidden;
  white-space: nowrap;
}
.modificaNota:hover{
  cursor: pointer; cursor: hand;
}
.eliminaNota:hover{
  cursor: pointer; cursor: hand;
}