
html  {
	background:#1B1B1B url(http://journals.unibo.it/download/figure/bgy.jpg) 50% 0 repeat-y fixed; color:#111; margin:0; font-family:Verdana,Arial,Helvetica,sans-serif; padding:0;
}
html body {
	margin:0; padding:0; color:#111; background:transparent url(http://www.paologranata.it/images/bg.jpg) 50% 0 repeat-y fixed;
}
body div#main {
    display:block; float:none; margin:0 15px 0 0 !important; width:auto; padding:4px 0 170px;
}
body div#body {
    position:relative; margin:10px 25px 0 40px; width:auto !important; background:#fff url(http://www.paologranata.it/images/menuh.gif) 0 0 no-repeat;
}
body div#content {
    border:none; font-size:.75em; padding:5px 15px 5px 5px; background:#FFFFFF;
}
body div#main a, body div#main a:link {
    background-color:transparent; color:#b61d20;
}
body div#main a:hover {
    text-decoration:none; color:#fb7676;
}
body div#container {
    min-width:990px !important; width:990px !important; margin:0 auto !important; font-family:Verdana,Arial, sans-serif;
}
body div#header, body div#header h1 {
    padding:0; background-color:transparent !important; text-align:center !important;
}

body div#content p, body div#content ol, body div#content ul {
    text-align:justify;
}

body div#navbar {
    border:none; margin:0 0 5px; padding:0;
}
body div#navbar ul li {
    background-color:transparent; color:#b61d20; font-size:1.2em; text-transform:uppercase; font-weight:bold; margin:0 -4px 0 0; padding:0;
}
body div#navbar ul li  a {
    background-color:transparent; color:#b61d20; border-left:1px solid #b61d20; margin:0 5px 0 0; padding:0 0 0 9px;
}
body div#navbar ul li:first-child {
    border:none; padding:0;
}
body div#navbar ul li a:hover{
    color:#c9cece;
}

#breadcrumb {
    font-size:.7em; padding:10px 0;
}

body table.announcements {
	background-color:#E6EBEB; color:#656767; margin:10px 0; padding:5px;
}
body table.announcements td.headseparator, body table.announcements td.endseparator {
    border:none; font-size:0; line-height:0;
}
body div#rightSidebar {
    width:180px; float:right; background-color:#eaeaea; color:#b61d20; padding:15px 0; margin:80px 0 0; height:auto;
}    
body div#leftSidebar {
    display:none;
}    
div#sidebarKeywordCloud {
	background-color:#fff; color:#b61d20;
}   
div#sidebarKeywordCloud a {
	font-size:1.2em;
}
body div.block {
    padding:10px;  background-color:#eaeaea; color:#b61d20;
}
body div.block ul {
    margin:5px -10px; padding:0; list-style-type:none;
}
body div.block ul li {
    display:block; margin:0 0 3px; padding:5px; font-size:.9em; text-transform:uppercase; background-color:#b61d20; color:#fff;
}
body div.block ul li a {
    background-color:#b61d20; color:#fff; text-decoration:none;
}
body div.block ul li a:hover {
    text-decoration:underline;
}
body #sidebar div.block span.blockTitle, body #sidebar div.block span.blockSubtitle {
    display:block; font-size:1.2em; letter-spacing:normal; padding:0 0 5px; text-transform:uppercase; font-weight:bold;
}
body #sidebar div.block span.blockSubtitle {
    font-size:1em;
}
body div.block form select, body div.block form input {
}
input.textField, select.selectMenu, textarea.textArea, input.uploadField {
    background-color:#EAEAEA; color:#333333; border:1px solid #333333; font-family:Verdana,Arial,Helvetica,sans-serif; font-size:1em;
}

body #main h2, body #content h2, body #main h3, #content h3 {
    font-family:Georgia,'Times New Roman',Times,serif; font-size:20px; line-height:1.3em; text-align:left;
	font-weight:normal; margin:15px 0; padding:0; background-color:transparent; color:#b61d20;
}
body #main h3, #content h3 {
    font-size:18px;
}

body div#footer {
    position:absolute; bottom:-150px; left:0; width:730px; font-size:.85em;
}
body div#footerint {
    position:relative; width:auto; text-align:left; padding:30px 0 30px 105px; color:#b61d20; 
	background:#efefef url(logo-footer.gif) 5px 50% no-repeat; 
}
body div#footer  p {
	margin-right:200px; color:#b61d20; background-color:transparent;
}
body div#footer  a {
	color:#b61d20; background-color:transparent;
}
body div#footer  img {
	margin-top:3px;
}
#sidebarWebFeed, #sidebarAnnouncementFeed {
    position:absolute; top:25px; width:100px; font-size:.9em; background-color:#efefef; color:#101010; text-transform:uppercase;
}
#sidebarWebFeed {
    right:120px;
}
#sidebarAnnouncementFeed {
    right:5px
}
table.tocArticle {
    margin-bottom: 9px;
}
#journalDescription {
	display: none;
}
