#header {background-color: #ffffff;}
#footer {background-color: #ffffff;}
table.listing tr.fastTracked {background-color: #ffffff;}
a {color: #017f81;}
a:link {color: #017f81;}
a:active {color: #017f81;}
a:visited {color: #017f81;}
a:hover {color: #017f81;}
input.defaultButton {color: #017f81;}
body {background-color: #ffffff;}
input.defaultButton {background-color: #ffffff;}
body {color: #000000;}
input.defaultButton {color: #000000;}
