/**
 * common.css
 *
 * Copyright (c) 2003-2006 John Willinsky
 * Distributed under the GNU GPL v2. For full terms see the file docs/COPYING.
 *
 * Site-wide shared stylesheet.
 *
 * $Id: common.css,v 1.39 2006/07/01 17:36:16 alec Exp $
 */

/**
 * Common HTML elements
 */

/* Tilolo testata */

#almadlTitle {
   position: absolute;
   top: 0px;
   right: 0px;
   margin-right: 2em;
}

#almadlTitle h1 {
   font-size: 90%;
   margin: 0px;
   padding: 0px;
   color: #333333;
   text-align: right;
   font-weight: normal;
   font-family: Georgia,"Times New Roman",Times,serif;
}

#almadlTitle h2 {
   font-size: 120%;
   text-align: right;
   margin: 0px;
   padding: 0px;
   color: #333333;
   font-weight: normal;
}

/* Testata del sito */
#visualElements {
    margin:0;
    padding:0;
    height:auto;
    border-bottom:solid 1px #ffffff;
}

#visualElements table {
    margin:0px;
    padding:0px;
    border-collapse:collapse;
    width:100%;
    border-bottom:solid 1px #B1B1B1;
}
#visualElements table th {
    padding: 0px;
    margin: 0px;
    background-color:#fff;
    width:201px;
    vertical-align:middle;
    text-align:center;
}

#visualElements table td {
    padding: 0em;
    vertical-align:middle;
}
#visualElements table td #stripe {
    display:none;
    width:100%;
    height:5px;
    font-size:1px;
}
div#siteLogo {
    margin: 0em;
    padding: 0em;
    margin-right: 9px;
    margin-left: 9px;
}


#headerImage {
    background: transparent url(/riviste/templates/images/almadl/logo_almadl.jpg) top left no-repeat;
    margin: 0em;
    padding: 0em;
    width:100%;
    height:auto;
    overflow:visible;
}

#visualElements #headerImage img, #visualElements #siteLogo img {
    border: 0px;
    margin:0px;
    padding:0px;
}

/* Tab di navigazione */

#portal-globalnav {
    background-color: transparent;
    padding: 0em 0em 0em 0em;
    white-space: nowrap;
    list-style: none;
    margin: 1px 0px -1px -1px;
    border-bottom: 1px solid #B1B1B1;
    height: auto;
    line-height: normal;
    text-align: right;
    font-weight: normal;
    font-size: 69%;
/*    border-bottom: 2px solid #666666; */

}
#portal-globalnav li {
    display: inline;
    margin: 0px;
}
#portal-globalnav li a {
    /* The normal, unselected tabs. They are all links */
    background-color: #F0F0F0;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 0px;
    color: #333333;
    height: auto;
    margin: 0px;
    margin-right: 0.5em;
    padding: 0em 1.25em;
    text-decoration: none;
    text-transform: none;
    z-index: 1;
}
#portal-globalnav li.selected a {
    /* The selected tab. There's only one of this */
    background-color: #FFFFFF;
    border-top: 1px solid #B1B1B1;
    border-left: 1px solid #B1B1B1;
    border-right: 1px solid #B1B1B1;
    border-bottom: 1px solid #FFFFFF;
    color: #9C0000;
    font-weight: bold;
}
#portal-globalnav li a:hover {
    background-color: #FFFFFF;
    border-color: #B1B1B1;
    border-bottom: 1px solid #FFFFFF;
    color: #9C0000;
}


/* Menu principale */

#loginStatus {
    background-color: #ddd;
    border: 0px;
    border-bottom: solid 1px #b1b1b1;
    border-top: solid 1px #b1b1b1;
    line-height: 1.6em;
    width: 100%;
    font-size: 69%;
}

#loginCell {
   padding-right: 1em;
   text-align: right;
}

#functionCell {
   padding-left: 1em;
   text-align: left;
}


.portal-siteactions {
    line-height: 1.6em;
    padding: 2px 3em 2px 1em;
    margin: 0;
    text-transform: none;
    list-style: none;
    float: none;
}

.portal-siteactions li {
    margin-left: 0em;
    display: inline;
    padding-left: 8px;
    background: transparent url(/riviste/templates/images/almadl/pipe.gif) center left no-repeat;
}

.portal-siteactions li a {
    background-color: transparent;
    border: 0px;
    height: auto;
    padding: 0.2em;
    margin-right: 0.2em;
    text-decoration: none;
    text-transform: none;
    color:#333;
}

.portal-siteactions li.selected a {
    background-color: transparent;
    border: 0px;
    color:#333;
}

.portal-siteactions li a:hover {
    background-color: transparent;
    border: 0px;
    text-decoration: underline;
}

/* Footer */

#footer{position:relative;width:100%; font-size: 69%;}
#footer{float:left;bottom:0;}
 #footer table{width:100%;border-collapse:collapse;}
 #footer table td.tools{padding:0;margin:0;text-align:left;width:100%;background-color:#ddd;border-top:solid 1px #b1b1b1;border-bottom:solid 1px #b1b1b1;padding-top:2px;padding-bottom:2px;padding-left:1em; line-height: 1.6em;}
 #footer table td.weather{background-color:#ddd;border-top:solid 1px #b1b1b1;border-bottom:solid 1px #b1b1b1;}
 #footer .tools ul{margin:0;padding:0;padding-bottom:2px;padding-top:2px;list-style-type:none;list-style-position:outside;}
 #footer .tools ul li{display:inline;background:url(/riviste/templates/images/almadl/pipe.gif) no-repeat center left;padding-left:5px;}
 #footer .tools ul li a{color:#333;font-weight:normal;text-decoration:none;}
 #footer .tools ul li a:hover {text-decoration:underline;}
 #footer table td#uniboBrand{background-color:#fff;padding:0;vertical-align:middle;text-align:center;width:195px;}
 #footer table td#uniboBrand{border-right:solid 1px #ccc;width:200px;padding:0;margin:0;padding-top:3px;}
 #footer table td#copyright{padding:0;vertical-align:middle;text-align:left;padding-left:10px;color:#333;}
 #footer table td#copyright a:link,#footer table td#copyright a:visited,#footer table td#copyright a:hover,#footer table td#copyright a:active{color:#333;}
 #copyright p{margin:0;padding:0;}
 #copyright #privacyUrl{display:none;}
 #footer table td#backToTop{vertical-align:top;padding-top:10px;}



.backToTop a:link, .backToTop a:visited, .backToTop a:hover, .backToTop a:active
{
    background-color: transparent;
    background-image: url(/riviste/templates/images/almadl/ico_toppage.gif);
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding-left: 25px;
    color: rgb(51, 51, 51);
    text-decoration: none;
}


.backToTop a:hover
{
    text-decoration: underline;
}
ul#footerIcons {
    list-style: none;
    border-top: 1px solid #BEBEBE;
    margin: 0px 0px 0px 0px;
    padding: 0.5em;
    padding-left: 0em;

}

ul#footerIcons li {
    list-style: none;
    display: inline;
}

ul#footerIcons li a img {
    padding-left: 0.8em;
    border-left: 1px solid #BEBEBE;
}


/* Modifiche ai fogli di stile originali di OJS */

body {
        margin: 0;
        padding: 0;
        background-color: #FFFFFF;
        color: #333333;
        font-family: Verdana,Arial,Helvetica,sans-serif;
        text-align: center;
}

a:link {
        color: Blue;
	text-decoration: underline;
}

a:active {
        color: Blue;
	text-decoration: underline;
}

a:visited {
        color: Purple;
	text-decoration: underline;
}

a:hover {
        color: Blue;
        background: #FFFFFF;
	text-decoration: underline;
}

a:link.plain {
        text-decoration: none;
}

a:visited.plain {
        text-decoration: none;
}
a:active.plain {
        text-decoration: none;
}
a:hover.plain {
        text-decoration: underline;
}



input.textField, select.selectMenu, textarea.textArea, input.uploadField {
        background-color: #FFFFFF;
        color: #333333;
        font-family: Verdana,Arial,Helvetica,sans-serif;
        border-top: 1px solid #333333;
        border-left: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-right: 1px solid #333333;
        font-size: 1em;
}

input.button {
        padding-left: 0.5em;
        padding-right: 0.5em;
        background-color: #FFFFFF;
        font-size: 1em;
	border-top: 1px solid #333333;
        border-left: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-right: 1px solid #333333;
}

input.defaultButton {
        background-color: #FFFFFF;
        color: #333333;
        font-weight: bold;
	border-top: 1px solid #333333;
        border-left: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-right: 1px solid #333333;
}

#container {
        width:97% !important;
        min-width: 730px !important;
        margin: 0px auto;
        line-height: 100%;
        text-align: center;
}



#header {
        width:100%;
        background-color: #FFFFFF;
        text-align: center;
}

#header h1 {
        margin: 0 auto;
        padding: 0.5em 0 0.25em 10%;
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-weight: normal;
        line-height: 100%;
	font-size: 160%;
	color: #9c0000;
}

#footer {
        width: 100%;
        min-height: 50px;
        position: static;
        clear: both;
        background-color: #FFFFFF;
        text-align: center;
}

#footerContent {
        width: 100%;
        margin: 0 auto;
        padding-left: 10%;
}



#main h2 {
        margin: 0em 1em 0.5em 0em;
        padding-top: 0.5em;
	color: #333333;
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-weight: normal;
	font-size: 140%;
        line-height: 110%;
}

#main h3 {
        margin: 1.5em 1em 0em 0em;
        padding-top: 1em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
        font-weight: normal;
	color: #333333;
	font-size: 120%;
}

#navbar {
        margin-right: 0;
        padding-bottom: 0em;
	padding-right: 1em;
	padding-left: 1em;
        border-bottom: 1px solid #D8DBEF;
	border: 1px solid #D8DBEF;
	background-color: #e7e9f5;
	background-image: url(/riviste/templates/images/almadl/toolbox.png);
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: center top;

}

#content {
        margin: 0;
        padding: 0;
        padding-top: 0.5em;
        font-size: 0.7em;
        border-top: 0px;
}

#content h3 {
        margin: 0em 1em 0.25em 0em;
        padding-top: 0.75em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
        font-weight: normal;
        font-size: 1.8em;
        line-height: 1.35em;
}

#content h4 {
        margin: .75em 1em 0.25em 0em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
        font-weight: normal;
        font-size: 1.5em;
}

#content h5 {
        margin: 0em 1em 0.25em 0em;
        padding-top: 0.75em;
        font-weight: bold;
        font-size: 1em;
}

#navbar a {
        font-size: 0.65em;
        letter-spacing: 0.05em;
}

#navbar a:link {
	color: #333333;
}

#navbar a:active {
	color: #333333;
}

#navbar a:visited {
	color: #333333;
}

#navbar a:hover {
	color: #666666;
	text-decoration: underline;
}

#breadcrumb a:link {
        text-decoration: none;
	color: #666666; 
}

#breadcrumb a:visited {
        text-decoration: none;
        color: #666666;
}

#breadcrumb a:active {
        text-decoration: none;
        color: #666666;
}

#breadcrumb a:hover {
        text-decoration: underline;
        color: #666666;
}


#breadcrumb a.current {
        font-weight: normal;
	color: #666666;
}

table.announcements td.headseparator {
        border-top: 1px solid #DDDDDD;
        font-size: 0.1em;
        line-height: 1%;
}

table.announcements td.endseparator {
        border-top: 1px solid #DDDDDD;
        font-size: 0.25em;
        line-height: 10%;
}

table.announcements td.separator {
        border-top: 1px solid #DDDDDD;
        font-size: 0.1em;
        line-height: 1%;
}

#sidebar div.block {
        background: transparent ;
        font-size: 1em;
        margin-bottom: 1em;
        border: 1px solid #BEBEBE;
        padding: 0em 0em 0em 0em;
}

#sidebar div.block span.blockTitle {
        background-color: #EDEDED;
        display: block;
        padding: 2px 0.5em 2px 0.5em;
        font-size: 1em;
        letter-spacing: 0.1em;
        font-weight: bold;
        color: #666666;
        border-bottom: 1px solid #BEBEBE;
	text-transform: none;
}

#sidebar div.block span.blockSubtitle {
        display: block;
        padding: 0.5em 0.5em 0.5em 0.5em;
        color: #333333;
}
#sidebar div.block div.blockContent {
        display: block;
        padding: 0.5em 0.5em 0.5em 0.5em;
        color: #333333;
}


#sidebar input.textField, #sidebar select.selectMenu, #sidebar input.button {
        font-size: 1em;
        border: 1px solid #666666;
        background-color: #FFFFFF;
}


/* Tilolo testata */

#almadlTitle {
   position: absolute;
   top: 0px;
   right: 0px;
   margin-right: 1.5em;
}

#almadlTitle h1 {
   font-size: 110%;
   margin: 0px;
   padding: 0px;
   color: #333333;
   text-align: right;
   font-weight: normal;
   font-family: Georgia,"Times New Roman",Times,serif;
}

#almadlTitle h2 {
   font-size: 84%;
   text-align: right;
   margin: 0px;
   padding: 0px;
   color: #333333;
   font-weight: normal;
   font-family: Arial,Sans-serif;
}

/*
ul.menu {
        margin-right: 0;
        padding-bottom: 0em;
        padding-right: 1em;
        padding-left: 1em;
        border-bottom: 1px solid #D8DBEF;
        border: 1px solid #D8DBEF;
        background-color: #e7e9f5;
        background-image: url(/riviste/templates/images/almadl/toolbox.png);
        background-repeat: repeat-x;
        background-attachment: scroll;
        background-position: center top;

}

*/

table.tocArticle td.tocTitle {
	padding-top: 1em;
        width: 70%;
        height: 100%;
	font-style: italic;
}

table.tocArticle td.tocGalleys {
	padding-top: 1em;
        width: 30%;
        text-align: right;
}

table.tocArticle td.tocAuthors {
        padding-left: 30px;
        font-style: normal;
	font-weight: bold;
        vertical-align: top;
	border-bottom: 1px solid #BEBEBE;
}

table.tocArticle td.tocPages {
        text-align: right;
        vertical-align: top;
	border-bottom: 1px solid #BEBEBE;
}
body#pkp-common-openJournalSystems #journalDescription {
	display: none;
}
