#header {
    background-color: #FFFFFF;
}
#header h1 {
    padding: 0.0em 0 0.0em 10%;
}
body {
    background-color: #FFFFFF;
}
a {
    color: #000000;
}
a:link {
    color: #000000;
}
a:active {
    color: #000000;
}
a:visited {
    color: #000000;
}
#managerUsers li:nth-child(2), #managerUsers li:nth-child(3) {
	/* privacy */
	display: none;
}
/* banner cookies */
#cookiesAlert {
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    left: 0;
    opacity: 0.90;
    overflow: hidden;
    padding: 5px;
    position: fixed;
    right: 0;
    z-index: 9999;
}

#cookieAlertText a, #cookieAlertText a:visited {
    border-bottom: 1px solid #fff !important;
    color: #fff !important;
    text-decoration: none !important;
    transition: color 200ms ease 0s;
}
#cookieAlertText a:hover, #cookieAlertText a:active {
    background-color: #616265 !important;
    border-bottom: medium none !important;
    color: #ededed !important;
}
#cookieAlertButton a, #cookieAlertButton a:visited {
    border-bottom: medium none !important;
    color: #000 !important;
    text-decoration: none !important;
    transition: color 200ms ease 0s;
}
#cookieAlertButton a:hover, #cookieAlertButton a:active {
    background-color: #f1d600 !important;
    border-bottom: medium none !important;
    color: #000 !important;
    text-decoration: none !important;
}

#cookieAlertText {
    color: #fff;
    display: block;
    float: left;
    font-size: 9px;
    padding: 3px 6px;
    transition: font-size 200ms ease 0s;
    width: 95%;
}
#cookieAlertButton a {
    background-color: #f1d600 !important;
    border-bottom: medium none;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 9px;
    line-height: 1.2;
    min-width: 10%;
    padding: 5px 8px;
    text-align: center !important;
    transition: background 200ms ease-in-out 0s, color 200ms ease-in-out 0s, box-shadow 200ms ease-in-out 0s;
}

@media screen and (min-width: 500px) {
        #cookieAlertButton a {
                font-size: 9.5px;
                margin-top: 12px;
                padding: 8px 15px;
        }
        #cookieAlertText {
                font-size: 9.5px;
                margin-top: 6px;
                padding: 8px 5px;
                width: 80%;
        }
}
@media screen and (min-width: 768px) {
        #cookiesAlert {
                padding: 15px 30px;
        }
        #cookieAlertButton a {
                font-size: 10.5px;
        }
        #cookieAlertText {
                font-size: 10.5px;
        }
}
@media screen and (min-width: 992px) {
        #cookieAlertButton a {
                font-size: 12px;
        }
        #cookieAlertText {
                font-size: 12px;
        }
}
